/* 修正済みCSS */
@charset "utf-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #779293;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-feature-settings: "palt";
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

ul {
    list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #f0faff;
}

.hamburger,
.sp-nav {
    display: none;
}

.header {
    position: relative;
    margin: 0 auto;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.77%;
    padding-right: 6.94%;
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
}

.logo {
    width: 5.5vw;
    max-width: 80px;
}


.pc-nav ul {
    display: flex;
    gap: 50px;                /* メニューの間隔 */
    justify-content: center;
  }
  
  .pc-nav li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "trajan-pro-3", "serif";
    font-weight: 400;
    font-style: normal;;
  }
  
  .pc-nav li a {
    display: inline-block;
    writing-mode: vertical-rl;
    font-size: 14px;
    color: #779293;
    text-decoration: none;
    margin-top:13px;
  }
  
  .pc-nav {
    display: flex;
    gap: 50px;
    justify-content: center;
  }
  
  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
  }
  
  .menu-item:hover {
    transform: translateY(5px);
  }
  

  /* 縦線 */
  .pc-nav li::before {
    content: "";              
    width: 1px;
    height: 50px;
    background-color: #779293;
  }

picture {
    margin: 0 auto;
    display: block;
    position: relative; 
    width: 100%;
    display: block;
}


.word {
  position: absolute;  
  top: 50%;            
  left: 70%;           
  transform: translate(-50%, -50%); /* 真ん中に寄せる */
  z-index: 2;          
  color: white;       
  font-size: 48px;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5); 
}

.concept,
.about,
.skills,
.works,
.contact,
.contact2,
.footer
 {
    max-width: 1440px;
    margin: 0 auto;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease-out, transform 0.6s ease-out;
}


.fade-in.show {
  opacity: 1;
  transform: translateY(0); 
}



.concept {
    margin-top: 209px;
    margin-bottom: 240px;
    
}



.concept_word_img{
  max-width: 470px;
  margin-bottom: 29px;
  margin-left:220px;
}

.concept_word{
  line-height: 2;
  max-width: 774px;
  margin: 0 auto;
}


.concept_word,
.about_sentence {
    font-size: 16px;
    text-align: left;
}


.about {
    margin-bottom: 164px;
}

.about_img{ 
    display: flex;
}


.about_word_img{
    max-width:  112px;
    margin-left: 220px;
    position: relative;
}


.about_img1{
    width: 280px;
    max-width: 19.5vw;
    margin-top: -29px;
    margin-left: 125px;
}

.about_img2 {
    margin-left: 36px;
}

.about_img2{
    width: 560px;
    max-width: 38.88vw;
    margin-top: -330px;
}

.about_img3_wrapper {
    display: flex;
    flex-direction: column;
    margin-left: -80px;
    margin-top: -229px; 
}

.about_img3{
    width: 423px;
    max-width: 29.3vw;

    
}

.about_img4{
  max-width: 150px;
    margin-top: -30px;
    margin-left: 50px;
}

.about_img4 {
  width: 200px;
  height: auto;
  animation: rotate360 10s linear infinite;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.about_sentence {
    margin-left: auto;
    margin-right: 220px;
    margin-top: 50px;
    max-width: 630px;
    line-height: 2.25;
    
}


.view_more_about {
    display: flex;
    justify-content: flex-end;
    margin-right: 220px;
    margin-top: 57px;
}
.view_more_about img,
.view_more_skills img,
.view_more_works img{
   width: 142px;
}


.skills{
    margin-bottom: 230px;
}


.skills_word_img{
    max-width: 304px;
    margin-left: 220px;
    margin-bottom: 108px;
}


.view_more_skills {
    display: flex;
    justify-content: flex-end;
    margin-top: 57px;
    margin-right: 220px;

}

.skills_photo_wrap{
    max-width: 100%;
    display: flex;
    justify-content: center; 
    gap: 4.16%;               
      }


.skills_sp{
  display: none ;
}



.skills_photo{
  max-width: 206px;
}

.skills-swiper{
  display: none;
}



.works{
    margin-bottom: 160px;
}

.works_word_img{
    max-width:360px;
    margin-left: 210px;
    margin-bottom: 107px;
}


.carousel_item{
    max-width: 480px;
}

.carousel_inner{
    display:flex;
    position: relative;
}

.carousel_inner{
  display:flex;
  position: relative;
}


.prev-arrow{
  position: absolute;
  top: 50%;
  transform:translateY(-50%) ;
  width: 19px;
  left: 20%;
  z-index: 999;
}

.next-arrow{
  position: absolute;
  top: 50%;
  transform:translateY(-50%) ;
  width: 19px;
  right: 20%;
  z-index: 999;
}

.lightbox .lb-container { padding: 2px; }
.lightbox{padding-top: 200px;

}








.view_more_works {
    display: flex;
    justify-content: flex-end;
    margin-right: 220px;
    margin-top: 57px;   
}




.contact{
    margin-bottom: 274px;
}
.postcard {
  max-width: 670px;
  display: block;
  margin: 0 auto;
  position: relative; 
  opacity: 5s;
  transform: translateY(-150px) scale(1.1);
}

.postcard.show {
  animation: softDropIn 1.2s ease-out forwards;
}

@keyframes softDropIn {
  0% {
    opacity: 0;
    transform: translateY(-150px) scale(1.1);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}


.stamp {
  position: absolute;
  top: -25px;
  right: -60px;
  background: url('stamp.png') no-repeat center center / contain;
  max-width: 180px;
  opacity: 0;
  transform: scale(1.4);
  z-index: 10;
  display: block;
}

/* アニメーションをつけるクラス */
.stamp.show {
  animation: stampPush 0.5s ease-out forwards;
}

@keyframes stampPush {
  0% {
    opacity: 0;
    transform: translateY(-100px) scale(1.4) rotate(-5deg);
  }
  40% {
    opacity: 1;
    transform: translateY(10px) scale(1.1) rotate(2deg);
  }
  70% {
    opacity: 1;
    transform: translateY(-5px) scale(1.03) rotate(-1deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1) rotate(0deg);
  }
}
.thankyou{
    margin-bottom: 255px;
}
.thankyou_wave{
    align-items: center;
}

.footer-sp {
  display: none;
}

.footer_top_line{
  border-top: 1px solid #bce3e2;
  max-width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}


.footer-pc {
    color: #bce3e2;
    max-width: 100%;
    margin: 0 auto;
    padding-left:30px ;
    padding-right: 30px;
  }
  

  .footer-inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
    flex-wrap: wrap;
  }
  

  .footer-nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-nav li {
    color: #bce3e2;
    font-size: 18px;
    font-family: "trajan-pro-3", "serif";
    font-weight: 400;
    font-style: normal;;
    margin-bottom: 24px;
  }
  
  .footer-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    color: #9ec6c8;
  }
  
  .instaicon{
    width: 24px;
  }


.footer_bottom_line{
  border-bottom: 1px solid #bce3e2;
  padding-left:30px ;
  padding-right: 30px;
}

  .footer-left{
    margin-top: 9px;
    font-family: "trajan-pro-3", "serif";
    font-weight: 400;
    font-style: normal;
    
  }
  

  /* ＝＝２階層目以降＝＝＝＝＝＝＝＝ */

.subpage {
    background: linear-gradient(to right, #f0faff 1000px, #e6f8ff 0 );
  }

  .subpage .header{
    padding-bottom: 330px;
  } 


  
  .logo_blue {
    margin-top: 40px;
    margin-left: 40px;
  } 
  
  .logo_blue{
    max-width: 80px;
  }

    /* ＝＝ABOUT＝＝＝＝＝＝＝＝ */

.about2{
    margin-left: 220px;
    margin-right: 220px;
    max-width: 1440px;
    margin-bottom: 471px;
}

.about_intro{
    display: flex;
    justify-content: center;
}

.about2_word{
    width: 112px;
    margin-top: 30px;
}

.about_intro{
    text-align: center;
}

.about_intro_photo{
    width: 487px;
    margin: 0 auto;
}

.name{
    margin-top: 105px;
    text-align: center;
    color: #5ed2d5;
    font-size: 19px;
    margin-bottom: 33px;
    font-family: "trajan-pro-3", "serif";
    font-weight: 400;
    font-style: normal;;
}

.about_intro_sentence{
    margin-top: 33px;
    max-width: 640px;
    margin: 0 auto;
    text-align: left;
    line-height: 2.25;
    color:#779293;
}

    /* ＝＝about【strength】＝＝＝＝＝＝＝＝ */

.about2-2{
    margin-left: 220px;
    margin-right: 220px;
    max-width: 1440px;
    margin-bottom: 240px;
}


.about_strength_top{
    display: flex;
    justify-content: center;
    margin-bottom: 109px;
  }


.about_strength_word{
    width: 60px;
}


.about_strength_photo{
    max-width: 700px;
    margin: 0 auto;
}





.strength_right{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
  max-width: 1000px;
}

.strength_left{
  margin-bottom: 25px;
  max-width: 1000px;
}

.strength01,
.strength02,
.strength03{
    margin-bottom: 10px;
    max-width: 680px;
    text-align: left;
    position: relative;
    align-items: center;
}


  .strength-line {
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: #b7e4e3;
    margin-top: 40px;
  }
  
  .strength1  {
    width: 172px;
  }

  .strength2 {
    max-width: 305px;
}
  
 .strength3 {
  max-width: 268px;
}


  .strength_right_word,
  .strength_left_word{
    line-height: 2.25;
    font-size: 16px;
  }

    /* ＝＝SKILLS＝＝＝＝＝＝＝＝ */

  .skills2{
    max-width: 1440px;
    margin-right: 220px;
    margin-left: 220px;
    margin-bottom: 141px;
    font-size: 16px;
  }


  .skills2_word_img {
    width: 304px;
    margin-bottom: 144px;


  }

  .skills-swiper {
    display: none;
  }

  
  .graphic{
    max-width: 433px;
  }
  
  .webdesing{
    max-width: 392px;
  }

  .coding{
    max-width: 485px;
  }

  .skills_sentence{
    max-width: 623px;
    margin: 0 auto;
    margin-top: -109px;
    line-height: 2.25;
    margin-bottom: 30px;
  }


  .skills_list{
    margin-bottom: 109px;
  }

  .yazirushi{
    max-width: 23px;
    margin-bottom: 70px;
    margin: 0 auto;
  }

  

  .skills1{
    margin-bottom: 15px;
    margin-top: 15px;
  }


  .botann{
    width: 13px;
    margin-right: 4px;
  }


  .skills_illustrator {
    max-width: 70px;
}

  .skills_photoshop {
    max-width: 77px;
}

.skills1 {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .skills1-line {
    flex-grow: 1;
    display: flex;
    justify-content: end;
    height: 1px;
    background-color: #b7e4e3;
  }
  
  .skills1{
    flex-direction: row;
  }

  .skills_figma{
    max-width: 42px;
  }
  
  .skills_HTMLCSS{
    max-width: 95px;
  }
  .skills_JavaScript{
    max-width: 79px;
  }
  

  .skills_illustrator_word,
  .skills_photoshop_word,
  .skills_figma_word,
  .skills_HTMLCSS_word,
  .skills_JavaScript_word{
    max-width: 570px;
    text-align: left;
    margin: 0 auto;
    line-height: 2.25;
  }




  .prev-arrow{
    position: absolute;
    top: 50%;
    transform:translateY(-50%) ;
    width: 19px;
    left: 18px;
}

.next-arrow{
    position: absolute;
    top: 50%;
    transform:translateY(-50%) ;
    width: 19px;
    right: 18px;
}

.carousel_item a {
    pointer-events: none;
}




  /* ＝＝CONTACT＝＝＝＝＝＝＝＝ */


  .contact_warp{
    display: flex;
    flex-direction: column;     /* 縦並びにする */
    justify-content: center;    /* 縦方向の中央揃え */
    align-items: center;        /* 横方向の中央揃え */
    margin-bottom: 234px;
        
  }
  
  .contact_word_img{
    max-width: 493px;
    margin-left: 220px;
    margin-bottom: 94px;
  }
 
  
  .contact_sentece{
    font-size: 16px;
    margin-bottom: 106px;
    text-align: center;
  }
  .contact_warp input,textarea{
    border: none;
    box-sizing: border-box;
    padding: 9px 16px;
    font-size: 16px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
  }
  .contact_warp input::placeholder,.contact_warp textarea::placeholder{
    color:#b3b3b3
  }


  .contact_warp input{
    width: 400px;
    height: 34px;
  }

  .contact_warp textarea{
    width: 400px;
    height:  155px;
  }


 

.label{
  float:left ;
  width: 96px;
  margin-right: 20px;
  color: #779293;
  font-size: 12px;
  text-align: center;
}

select {
  width: 400px;
  height: 34px;
  border: none;
  background-color: #fff;
  font-size: 12px;
  padding: 9px 16px;
  color:#b3b3b3
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}


.br-sp {
  display: none;
}

.form_item{
  display: flex;
  align-items: center;
  margin-bottom: 56px;
 
}

.form_item2{
  display: flex;
  align-items: center; 
}


.form_send {
  margin: 0 auto;
  max-width: 94px;
  margin-top: 48px;
}


  /* ＝＝THANKS＝＝＝＝＝＝＝＝ */

.thanks_word{
  max-width: 493px;

}

.thanks_word_sp{
  display: none;
}

.thanks_word{
  margin-left: 220px;
  margin-bottom:95px ;
}

.thanks_wrap{
  color: #779293;
}

.thanks{
  margin-bottom: 250px;
}


.thanks_sentece1{
  font-size: 41px;
  width: 677px;
  align-items: center;
  margin: 0 auto;
  color: #779293;
  margin-bottom: 92px;
}

.thanks_sentece2{
  font-size: 16px;
  width: 600px;
  align-items: left;
  margin: 0 auto;
  color: #779293;
  line-height: 1.75;
}

  /* ＝＝WORKS page＝＝＝＝＝＝＝＝ */


.works2{
  margin-left: 220px;
  margin-right: 220px;
  max-width: 1440px;
}
.works_top{
  display: flex;
  margin-bottom:122px ;
  gap:119px;
}

.works_top_inner{
  display: flex;
}

.works_word2{
  max-width:360px
}

.webdesign_word1{
  max-width:120px
}

.graphicdesign_word1{
  max-width:152px
}

.graphicdesign_word1{
  margin-left: 127px;
}

.webdesign_word2{
  max-width:177px
}


.webdesign_wrap{
  margin-bottom: 205px;
}

.work-item_photo{
  margin-bottom: 10px;
}

.work-title{
  margin-bottom: 5px;
}

.work-item{
  margin-bottom: 70px;
}


.image-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.image-list li {
  flex: 1 1 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  box-sizing: border-box;
}

.work-item {
  display: flex;
  flex-direction: column;

}

.work-item {
  width: 100%;
  display: block;
}



.work-title {
  font-size: 16px;
}

.work-kinds {
  font-size: 14px;
}


.graphicdesign_word2{
  max-width:208px
}

.graphicdesign_wrap{
  margin-bottom: 180px;
}

  /* ＝＝WORKS page＝＝＝＝＝＝＝＝ */

.works2-1{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}
.works2-1_hayashi{
  max-width: 1440px;
  margin: 0 auto;
}

.works_contents_wrap_hayashi{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}

.works_title{
  text-align: center;
  margin-bottom: 36px;
  font-size: 24px;
}



.works_contents_wrap_sh{
  display: none;
}


.works_contents_text_trace{
  text-align: center;
  font-size: 14px;
}

.works_contents_wrap_trace{
  margin-top: 97px;
  margin-bottom:96px ;
}

.works_220{
  text-align: center;
  margin-bottom: 36px;
  font-size: 24px;
}





.works_flyer_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px; 
  max-width: 1000px; 
  margin: 0 auto;
}

.flyer {
  max-width: 100%;
  height: auto;
  display: block;
}
/* 
 PC版２枚sp版１枚 */
.pc-only {
  display: flex;
  gap: 30px;
}

.sp-only {
  display: none;
}



.flyer_1{
  margin-bottom: 112px;
  margin: 0 auto;
}

.logo_photo{
  max-width: 830px;
  margin: 0 auto;
}

.yazirushi1_left{
  max-width: 30px;
}

.yazirushi1_left{
  margin-left: 120px;
}

.yazirushi1_right{
  max-width: 30px;
}

.yazirushi1_right{
  margin-right: 120px;
}

.flyer{
  max-width: 450px;
}

/* タブレットモックアップ画面スイッチ */
.switch{
  display: flex;
  gap: 20px;
  margin-left: auto;     
  margin-bottom: 36px;

}

.pc_switch{
  max-width: 36px;
}

.sh_switch{
  max-width: 15px;
}


.works_title_tablet_wrap {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  position: relative;              

}
.works_tablet_wrap{
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}


.works_title_tablet {
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap; 
  margin-bottom: 36px;          
}


.meishi_slider{
  align-items: center;
  position: relative;
}

.meishi_slide {
  display: flex ;
  justify-content: center;
  align-items: center;
}


.meishi_wrap {
  gap: 40px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}



.meishi_wrap_ciel{
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}
/* ＝＝＝＝スクロール＝＝＝ */
.scroll_down{
  max-width: 22px;
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  right:-30px
}
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */


/* ＝＝＝＝スマホのモックアップ＝＝＝ */
.sh_mock-up{ 
  max-width: 336px;
  margin-bottom: 112px;
  margin: 0 auto;
}
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* ＝＝＝＝タブレットのモックアップ＝＝＝ */
.tablet_mock-up{
  max-width: 1000px;
  margin-bottom: 112px;
  text-align: center;
}
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* ＝＝＝＝ハヤシのモックアップ＝＝＝ */
.hayashi_all{
  max-width: 1440px;
  margin-bottom: 144px;
}
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */


/* ＝＝＝＝logo説明ありの設定＝＝＝ */
.meishi_swiper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  overflow: visible;
}


.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center; 
}



.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 40px;
  height: 40px;
}

.slick-prev {
  left: calc(50% - 540px);
}

.slick-next {
  right: calc(50% - 540px);
}


.logo_slider {
  position: relative;
}


.meishi_omote img,
.meishi_ura img{
  max-width: 480px;

}
.meishi_ura{
  display: flex;
  justify-content: flex-end;
}


.swiper2-button-prev,
.swiper2-button-next {
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 10;
}

/* ロゴ説明 */

.logo_meaning {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.logo-prev,
.logo-next {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  width: 30px;
  cursor: pointer;
  z-index: 10;
}


.logo-prev {
  left: 10px; 
}
.logo-next {
  right: 10px; }



/* 矢印の配置 */
.meishi-prev,
.meishi-next {
  position: absolute;
  top: 80%;
  transform: translateY(-50%);
  z-index: 10;
  max-width: 30px;
  margin-left: 5px;
  margin-right: 5px;
  display: block
}

.meishi-prev {
  left: 0;
}

.meishi-next {
  right:0;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */




.yazirushi_left{
  max-width: 30px;
}

.yazirushi_left{
  margin-right: 99px;
}

.yazirushi_right{
  max-width: 30px;
}

.yazirushi_right{
  margin-left: 99px;
}


.flyer_1{
  max-width: 450px;
}



/* 制作物したの説明書 */




.works_contents{
  list-style: none; 
}
.works_contents_sh{
  display: flex;
  margin-bottom: 19px;

}



.works_contents_wrap{
  display: flex;
  justify-content: center;
  margin-top: 112px;
  margin-bottom: 60px;
}

.works_contents{
  list-style: none;
  max-width: 1000px;
  width: 100%;

}

.works_contents_item{
  display: flex;
  align-items: center;
  margin: 30px 0;
}




.works_contents_item_category{
  width: 90px;
  text-align: center;

}

.works_contents_info{
  padding-left: 70px;
  width: 700px;
  font-size: 14px;
  line-height: 1.5;
}


.line{
  height: 1px;
  background-color: #c5efef;
  width: 89%;
}



.works_contents_text{
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
}


.backtoall{
  display: flex;
  justify-content: flex-end;
  margin-right: 220px;
  margin-bottom: 250px;
}

.backtoall img{
  max-width:155px;
}







@media screen and (max-width : 1100px){
  /* PCメニューを消してハンバーガーメニューを出す */
  .pc-nav{
      display: none;
  }

  .hamburger{
    width: 50px;
    height: 50px;
    border: 1px solid #9ec6c8;
    border-radius: 50%; /* 円にする */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }

  .hamburger span{
      display: block;
      width: 15px;
      height: 1px;
      background: #9ec6c8;
      position: absolute;

  }
  

  .hamburger span:nth-child(1) {
    width: 10px;  
    top:20px;
    margin-right: 5px;
  }
  
  .hamburger span:nth-child(2) {
    width: 15px;
  }
  
  .hamburger span:nth-child(3) {
    width: 10px;
    top:30px;
    margin-right: 5px;
  }

  .circle-hamburger.active span:nth-child(1) {
    width: 50px; /* ←ここでアクティブ時の幅を再指定できる */
    transform: rotate(45deg);
    top: 36px;
  }
  
  .circle-hamburger.active span:nth-child(3) {
    width: 50px;
    transform: rotate(-45deg);
    top: 36px;
  }
  
.sp-nav{
  position:absolute;
  top:0;
  left:0;
  height:100vh;
  width:100%;
  background: rgba(0,0,0,0.7);
}
.sp-nav ul{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sp-nav ul li a {
  color: #fff;
  text-align: center;
  display: block;
  padding:10px 0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
      "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
      font-size:18px;
}

.sp-nav.active {
  display: block;
}
}


@media screen and ( max-width : 767px ){

  .header{
      margin-bottom: 43px;
  }



  .logo{
      max-width:50px;
  }

  .logo_blue {
    margin-top: 20px;
    margin-left: 20px;
  } 
  
  .logo_blue {
    max-width: 50px;
  }

  .subpage .header{
    padding-bottom: 95px;
  } 


  
  
  .concept {
      margin-top: 82px;
      margin-bottom: 58px;
  }
  
  
  
  .concept_word_img{
    max-width: 188px;
    margin-bottom: 39px;
    margin-left: 30px;
}

  .concept_word{
    line-height: 2.9;
    max-width: 100%;
    margin-left:30px;
    margin-right:30px;
    
  }
  
  
  .concept_word,
  .about_sentence {
      font-size: 16px;
      color: #779293;
      text-align: left;
  }
  
  
 
  
  .about {
      margin-bottom: 164px;
  }
  
  .about_img{ 
      display: flex;
  }
  
  
  .about_word_img{
      width:  112px;
      max-width: 7.7vw;
      margin-left: 30px;
      position: relative;
  }
  
  
  .about_img {
      display: flex;
  }
  
  .about_img1{
      width: 162px;
      max-width: 19.5vw;
      margin-top: -63px;
      margin-left: 0;
  }
  
  .about_img2 {
      margin-left: 0px;
      max-width: 560px;
      margin-top: -143px;
  }
  

  .about_img3_wrapper {
      display: flex;
      flex-direction: column;
      margin-left: -80px;
      margin-top: 0;
  }
  
  .about_img3 {
      display: none;
  
      
  }
  
  .about_img4{
    max-width: 150px;
  }
  
  .about_img4{
      margin-top: 0;
      margin-left: 50px;
  }
  
  .about_sentence {
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 41px;
      max-width: 630px;
      line-height: 2.25;
      
  }
  
  
  .view_more_about {
      margin-right: 30px;
      margin-top: 11px;
  }
  
  

  /* TOPページ部分スキル */
  .skills{
    margin-bottom: 119px;
}



.skills_word_img{
  width: 304px;
  max-width: 21.1vw;
  margin-left: 30px;
  margin-bottom: 49px;
}

.skills_photo_wrap {
  display: none; 
}


.skills_sp{
  display: block;
  margin: 0 auto;
  position: relative;
}

.skills-slider{
  max-width: 330px;
  margin: 0 auto;
}

/* カスタム矢印 */
.custom-prev,
.custom-next {
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  width: 20px;
}

.custom-prev {
  left: 0px;
}

.custom-next {
  right: 0px;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  display: block;
}
.view_more_skills {
  margin-top: 22px;
  margin-right: 30px;
}


.works{
  margin-bottom: 88px;
}

.works_word_img{
  width:360px;
  max-width: 25vw;
  margin-left: 210px;
  margin-bottom: 107px;
}



.carousel_inner{
  display:flex;
  position: relative;
}


.view_more_works {
  margin-top: 57px;
  margin-left: 30px;
}




.contact{
  margin-bottom: 109px;
}

.postcard{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  margin-left: 30px;
  margin-right: 30px;
}

.stamp{
  max-width: 89px;
  top: 0;
  right: -20px;
}

.thankyou{
  margin-bottom: 113px;
}
.thankyou_wave{
  align-items: center;
}

  .footer-pc {
    display: none;
    justify-content: center;
  }




  .footer_top_line_nav-sp{
    border-top: 1px solid #bce3e2;
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;

  
  }
  .footer-sp {
    display: block;
    color: #bce3e2;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;

  }
  
 
  

  .footer_nav-sp ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer_nav-sp li {
    color: #bce3e2;
    font-size: 18px;
    font-family: "trajan-pro-3", "serif";
    margin-bottom: 57px;
  }
  
  .footer-right_nav-sp{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
  }
  
.footer-right_nav-sp img{
    width: 24px;
}


.footer_bottom_line_nav-sp{
  border-bottom: 1px solid #bce3e2;
  max-width: 100%;
  padding-left: 30px;
  padding-right: 30px;

}

.footer-left_nav-sp{
    margin-top: 18px;
    font-family: "trajan-pro-3", "serif";  
  }


/* ====about-sp===== */


.about2{
    margin-left: 30px;
    margin-right: 30px;
    max-width: 100%;
    margin-bottom: 124px;
}

.about_intro{
    display: flex;
    justify-content: center;
}

.about2_word{
    max-width: 27px;
    margin-top: 0px;
}

.about_intro{
    text-align: center;
}

.about_intro_photo{
    max-width: 268px;
    margin: 0 auto;
}

.name{
    margin-top: 24px;
    font-size: 19px;
    margin-bottom: 33px;
    font-family: "trajan-pro-3", "serif";
    font-weight: 400;
    font-style: normal;;
}

.about_intro_sentence{
    max-width: 330px;
    margin: 0 auto;
    line-height: 2.25;
}

    /* ＝＝about【strength】＝＝＝＝＝＝＝＝ */

.about2-2{
    margin-left: 30px;
    margin-right: 30px;
    max-width: 100%;
    margin-bottom: 166px;
}


.about_strength_top{
    display: flex;
    justify-content: center;
    margin-bottom: 87px;
  }


.about_strength_word{
    max-width: 27px;
}

.about_strength_word{
  margin-top: 36px;
}


.about_strength_photo{
    max-width: 294px;
}


.about_strength_photo{
    margin: 0 auto;
    margin-left: 16px;
}


.strength_right{
  display: flex;
  justify-content: flex-end;
}

.strength01,
.strength02{
    margin-bottom: 64px;
}


  .strength3{
    max-width: 268px;
}

  .strength01,
  .strength03{
  max-width: 680px;
  } 

  .strength02{
    max-width: 680px;
  }

  .strength2{
    max-width: 305px;
}
  
  .strength1{
    max-width: 172px;
  }

/* ====skills-sp===== */



.skills2{
  max-width: 100%;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 111px;
}


.skills2_word_img img{
  width: 112px;
  margin-bottom: 39px;


}

.graphic img{
  width: 290px;
}

.webdesing img{
  width: 260px;
}

.coding img{
  width: 330px;
}

.skills_sentence{
  max-width: 330px;
  margin-top: -70px;
}


.skills_list{
  margin-bottom: 109px;
}



.yazirushi{
  margin-bottom: 70px;
}


.skills1{
  margin-bottom: 15px;
  margin-top: 15px;
}


.botann img {
  width: 13px;
}

.botann{
  margin-right: 4px;
}

.skills_illustrator img{
  width: 70px;
}

.skills_photoshop img{
  width: 77px;
}

.skills1 {
  display: flex;
  align-items: center;
  width: 100%;
}

.skills1-line {
  flex-grow: 1;
  height: 1px;
  background-color: #b7e4e3;
}

.skills1{
  flex-direction: row;
}

.skills_figma img{
  width: 42px;
}

.skills_HTMLCSS img{
  width: 95px;
}
.skills_JavaScript img{
  width: 79px;
}


.skills_illustrator_word,
.skills_photoshop_word,
.skills_figma_word,
.skills_HTMLCSS_word,
.skills_JavaScript_word{
  max-width: 570px;
  text-align: left;
  margin: 0 auto;
  line-height: 2.25;
}


/* ====contact-sp===== */


.contact2{
  max-width: 100%;
}

.contact_warp{
  margin-bottom: 110px;
}

.contact_word_img img{
  width: 191px;
}
.contact_word_img{
  margin-left: auto;
  margin-bottom: 72px;
  text-align: center;
}


.contact_sentece{
  height: 1.44;
  margin-bottom: 64px;
}


.contact_warp input{
  width: 100%;
  height: 34px;
}

.contact_warp textarea{
  width: 100%;
  height:  175px;
}




.label{
float:left ;
margin-right: 0;
margin-bottom: 7px;
text-align: left;

}

select {
width: 100%;
}

/* スマホだけ改行 */
.br-sp {
  display: block;
}

.form_item{
display: block;
margin-bottom: 40px;
width: 100%;

}

.form_item2{
display: block;
}
.form_send img{
width: 94px;
}
.form_send{
max-width: 92px;
margin-top: 81px;
}


/* ====thanks-page===== */

.thanks_word{
  display: none;
}

.thanks_word_sp{
  display: block;
  margin-bottom: 66px;
}

.thanks_word_sp img{
  width: 374px;
}




.thanks{
  margin-bottom: 110px;
}


.thanks_sentece1{
  font-size: 29px;
  width: 300px;
  margin-bottom: 50px;
}

.thanks_sentece2{
  width: 330px;
}


/* ====works-page===== */





/* ＝＝＝＝＝制作一覧ページ＝＝＝＝＝ */

.works2{
  margin-left: 30px;
  margin-right: 30px;
}

.works_top{
  display: block;
  margin-bottom:75px ;
  gap:119px;
}

.works_top_inner{
  display: flex;
}

.works_word2 img{
  width:141px
}
.works_word2{
  margin-bottom: 65px;
}

.webdesign_word1 img{
  width:118px
}

.graphicdesign_word1 img{
  width:149px
}
.graphicdesign_word1{
  margin-left: 60px;
}

.webdesign_word2 img{
  width:165px
}


.webdesign_wrap{
  margin-bottom: 270px;
}




.works_contents_wrap_sh{
  display: block;
  margin-top: 45px;
  margin-bottom: 51px;
}

/* ＝＝＝スマホバナーモックアップ＝＝＝ */


.work-title{
  margin-bottom: 7px;
}

.work-item{
  margin-bottom: 106px;
}


.image-list {
  flex-direction: column; /* 縦並びにする */
  align-items: center;    
}

.image-list li {
  flex: 1 1 100%;
  max-width: 100%;
}



.work-item img {
  width: 100%;
  display: block;
}


.graphicdesign_word2 img{
  width:203px
}

.graphicdesign_wrap{
  margin-bottom: 160px;
}



  /* ＝＝WORKS page＝＝＝＝＝＝＝＝ */




  /* タイトル */
  .works_title{
    margin-bottom: 40px;
    font-size: 20px;
  }

 
  .works_220{
    margin-bottom: 36px;
    font-size: 24px;
  }
  
  .works_contents_wrap_trace{
    margin-top: 45px;
    margin-bottom:50px ;
  }
  


  
  .works-line_sh{
    flex-grow: 1;
    max-width: 100%;
    height: 1px;
    display: flex;
    justify-content: flex-end;
    background-color: #b7e4e3;
    margin-top: 10px;
  }
  

  .works_contents_info_sh{
    margin-bottom: 43px;
    font-size: 14px;
    line-height: 1.5;
  }

  .works_contents_item_category_sh{
    font-size: 18px;
  }


  .works_flyer_wrap{
    margin-bottom: 98px;
  }
  


.flyer img {
  max-width: 330px;
  display: block;
}



/* Pc版２sp版１ */
  
.pc-only {
  display: none;
}

.sp-only {
  display: block;
  max-width: 330px;
  margin: 0 auto;
}


.works_flyer_wrapper {
  position: relative;
  width: 100%;
}


.works_flyer_slider img {
  width: 100%;
  height: auto;
  display: block;
}

/* カスタム矢印 */
.swiper1-button-prev,
.swiper1-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 20px;
  cursor: pointer;
}

.swiper1-button-prev {
  left: -30px;
}

.swiper1-button-next {
  right: -30px;
}
  .flyer img{
    width: 450px;
  }
  
  .swiper2-prev {
    left: 0px; /* まず画面の端に置く */
  }

  .swiper2-next {
    right: 0px;
  }

  /* ボタン自体のサイズを小さくして“30px以内”に収まるように */
  .swiper2-prev::after,
  .swiper2-next::after {
    font-size: 20px; /* 矢印アイコンの大きさを調整 */
  }

  .swiper2-prev,
  .swiper2-next {
    width: 28px;
    height: 28px;
    margin: 0 2px; /* 28px + 2pxで30pxに近づける */
  }




  
  .meishi_wrap{
    display: block;
    margin-bottom: 95px;
  }

  .meishi_wrap_ciel{
    display: block;
    margin-bottom: 95px;
  }
  
  /* スマホモックアップ */
  .sh_mock-up{ 
    max-width: 190px;
    margin-bottom: 65px;
  }
  
  /* タブレットモックアップ */
  .tablet_mock-up img{
    max-width: 100%;
  }
  .tablet_mock-up{
    margin-bottom: 97px;
  }
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* ＝＝＝＝ハヤシのモックアップ＝＝＝ */
.hayashi_all img{
  max-width: 100%;
}

.hayashi_all{
  margin-bottom: 86px;
}
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */


  

  .yazirushi_left img{
    width: 30px;
  }
  
  .yazirushi_left{
    margin-right: 99px;
  }
  
  .yazirushi_right img{
    width: 30px;
  }
  
  .yazirushi_right{
    margin-left: 99px;
  }
  

  .meishi_omote img{
    max-width:100%;
  }
  
  
  .meishi_ura img{
    max-width:100%;
  }
  
 
  
 
  
  
  .flyer_1 img{
    max-width: 100%;
  }
  
  .scroll_down img{
    width: 18px;
  }
  
  
  .works_contents_wrap{
   display: none;
  }
  
  
  
   

  /* 制作一覧に戻る */
  .backtoall{
    margin-right: 30px;
    margin-bottom: 50px;
  }
  

}