/* 修正済みCSS */
@charset "utf-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4f260b;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

ul {
    list-style: none;
}

body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #f0faff;
}

.hamburger,
.sp-nav {
    display: none;
}

.header {
    position: relative;
    margin: 0 auto;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.77%;
    padding-right: 6.94%;
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
}

.logo img {
    width: 80px;
}


.pc-nav ul {
    display: flex;
    gap: 50px;                /* メニューの間隔 */
    justify-content: center;
  }
  
  .pc-nav li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pc-nav li a {
    display: inline-block;
    writing-mode: vertical-rl;
    font-size: 14px;
    color: #779293;
    text-decoration: none;
    margin-top:13px;
  }
  
  /* 縦線 */
  .pc-nav li::before {
    content: "";              
    width: 1px;
    height: 50px;
    background-color: #779293;
  }

picture {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: block;
}

picture img{
    max-width: 1440px;
    width: 100%;
    display: block;
}

.concept,
.about,
.skills,
.works {
    max-width: 1440px;
    margin: 0 auto;
}


.concept {
    margin-top: 209px;
    margin-left: 220px;
    margin-bottom: 240px;
}


.concept_word_img img{
    width: 479px;
    margin-bottom: 69px;
}

.concept_word,
.about_sentence {
    font-size: 16px;
    color: #779293;
    text-align: left;
}


.concept_word{
    max-width: 774px;
    margin-left:220px ;
    z-index: 100;
}

.about {
    max-width: 1440px;
    margin-bottom: 164px;
}


.about_img{ 
    display: flex;
}

.about_word_img img{
    width:  112px;
    margin-left: 220px;
}

.about_img1 img{
    width: 280px;
    margin-top: -29px;
    margin-left: 125px;
}

.about_img2 img{
    width: 560px;
    margin-top: -330px;
    display: block; 
}

.about_img3 img{
    width: 423px;
    margin-top: -229px;
}


.about_sentence {
    margin-left: auto;
    margin-right: 220px;
    margin-top: 50px;
    max-width: 630px;
}


.view_more_about {
    display: flex;
    justify-content: flex-end;
    margin-right: 220px;
    margin-top: 57px;
}

.view_more_about img{
    width: 142px;
}


.skills{
    margin-right: 220px;
    margin-bottom: 230px;
}


.skills_word_img img{
    width: 304px;
    margin-left: 210px;
    margin-bottom: 108px;
}


.view_more_skills img{
    width: 142px;

}

.skills_photo_wrap{
    max-width: 100%;
    display: flex;
    justify-content: center;  /* 中央揃え */
    gap: 4.16%;               /* ← 画像の間に4.16%の余白 */
    margin-left: 0;
      }



.skills_photo img{
    width: 206px;

}


.view_more_skills {
    display: flex;
    justify-content: flex-end;
    margin-top: 57px;
}


.works{
    max-width: 1440px;
    margin-bottom: 160px;
}

.works_word_img img{
    width:360px;
    margin-left: 210px;
    margin-bottom: 107px;
}


.carousel_item img{
    height: 280px;
}

.carousel_inner{
    display:flex;
    position: relative;
}

/* 
.prev-arrow{
    position: absolute;
    top: 50%;
    transform:translateY(-50%) ;
    width: 19px;
    left: 20%;
    z-index: 999;
}

.next-arrow{
    position: absolute;
    top: 50%;
    transform:translateY(-50%) ;
    width: 19px;
    right: 20%;
    z-index: 999;
} */

.view_more_works {
    display: flex;
    justify-content: flex-end;
    margin-right: 220px;
    margin-top: 57px;
}

.view_more_works img{
    width: 142px;    
}


.contact{
    max-width: 1440px;
    margin-bottom: 274px;
}

.contact_word_img img{
    width: 670px;
    display: block;
    margin: 0 auto;
}

.thankyou{
    margin-bottom: 255px;
}
.thankyou_wave{
    align-items: center;
}


footer {
    border-top: 1px solid #bce3e2;
    border-bottom: 1px solid #bce3e2;
    padding: 24px 0px ;
    color: #bce3e2;
    max-width: 1315px;
    margin: 0 auto;
  }
  
  .footer-inner {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
  }
  

  .footer-nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-nav li {
    color: #bce3e2;
    font-size: 18px;
  }
  
  .footer-right {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    color: #9ec6c8;
  }
  
  .footer-right img {
    width: 24px;
    height: 24px;
  }

  .footer-left{
    margin-left: 69px;
    margin-top: 9px;
  }
  

  /* ＝＝２階層目以降＝＝＝＝＝＝＝＝ */

.subpage {
    background: linear-gradient(to right, #f0faff 1000px, #e6f8ff 0 );
  }

  .subpage .header{
    padding-bottom: 330px;
  } 


  
  .logo_blue {
    margin-top: 40px;
    margin-left: 40px;
  } 
  
  .logo_blue img {
    width: 80px;
  }

    /* ＝＝ABOUT＝＝＝＝＝＝＝＝ */

.about2{
    margin-left: 220px;
    margin-right: 220px;
    max-width: 1440px;
    margin-bottom: 471px;
}

.about_intro{
    display: flex;
    justify-content: center;
}

.about2_word img{
    width: 112px;
    margin-top: 30px;
}

.about_intro{
    text-align: center;
}

.about_intro_photo img{
    width: 487px;
    margin: 0 auto;
}

.name{
    margin-top: 105px;
    text-align: center;
}

.about_intro_sentence{
    margin-top: 33px;
    max-width: 640px;
    text-align: center;
}

    /* ＝＝about【strength】＝＝＝＝＝＝＝＝ */

.about2-2{
    margin-left: 220px;
    margin-right: 220px;
    max-width: 1440px;
    margin-bottom: 240px;
}


.about_strength_top{
    display: flex;
    justify-content: center;
    margin-bottom: 260px;
  }


.about_strength_word img{
    width: 60px;
}


.about_strength_photo img{
    width: 700px;
    margin-bottom: 100px;
}


.about_strength_photo{
    text-align: center;
}

.strength01,
.strength02{
    margin-bottom: 20px;
}


  .strength3 img{
    width: 268px;
}

  .strength01,
  .strength03{
  max-width: 680px;
  text-align: left;
  } 

  .strength02{
    display: flex;
    justify-content: flex-end;
    max-width: 680px;
    text-align: left;
  }

  .strength2 img{
    width: 305px;
}

.strength1,
.strength2,
.strength3
 {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .strength-line {
    flex-grow: 1;
    height: 1px;
    background-color: #b7e4e3;
    margin-top: 40px;
  }
  
  .strength1 img {
    width: 172px;
  }
  
  .strength1,
  .strength2 
  {
    flex-direction: row;
  }

  .strength2{
    flex-direction: row-reverse;

  }

    /* ＝＝SKILLS＝＝＝＝＝＝＝＝ */

  .skills2{
    max-width: 1440px;
    margin-right: 220px;
    margin-left: 220px;
    margin-bottom: 141px;
    font-size: 16px;
    color: #779293;
  }


  .skills2_word_img img{
    width: 304px;
    margin-bottom: 144px;


  }
  .graphic img{
    width: 433px;
  }
  
  .webdesing img{
    width: 392px;
  }

  .coding img{
    width: 485px;
  }

  .skills_sentence{
    max-width: 623px;
    margin: 0 auto;
    margin-top: -109px;
  }


  .skills_list{
    margin-bottom: 109px;
  }

  .skills_sentence{
    margin-bottom: 30px;
  }

  .yazirushi img{
    width: 23px;
  }

  .yazirushi{
    align-items: center;
    margin-bottom: 70px;
  }


  .skills1{
    margin-bottom: 15px;
    margin-top: 15px;
  }




  .botann img {
    width: 13px;
  }

  .botann{
    margin-right: 4px;
  }
  
  .skills_illustrator img{
    width: 70px;
}

  .skills_photoshop img{
    width: 77px;
}

.skills1 {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .skills1-line {
    flex-grow: 1;
    height: 1px;
    background-color: #b7e4e3;
  }
  
  .skills1{
    flex-direction: row;
  }

  .skills_figma img{
    width: 42px;
  }
  
  .skills_HTMLCSS img{
    width: 95px;
  }
  .skills_JavaScript img{
    width: 79px;
  }
  

  .skills_illustrator_word,
  .skills_photoshop_word,
  .skills_figma_word,
  .skills_HTMLCSS_word,
  .skills_JavaScript_word{
    max-width: 570px;
    text-align: left;
    margin: 0 auto;

  }