/* 修正済みCSS */
@charset "utf-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #779293;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-feature-settings: "palt";
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

ul {
    list-style: none;
}

body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #f0faff;
}

.hamburger,
.sp-nav {
    display: none;
}

.header {
    position: relative;
    margin: 0 auto;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.77%;
    padding-right: 6.94%;
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
}

.logo img{
    width: 5.5vw;
    max-width: 80px;
}


.pc-nav ul {
    display: flex;
    gap: 50px;                /* メニューの間隔 */
    justify-content: center;
  }
  
  .pc-nav li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "trajan-pro-3", "serif";
    font-weight: 400;
    font-style: normal;;
  }
  
  .pc-nav li a {
    display: inline-block;
    writing-mode: vertical-rl;
    font-size: 14px;
    color: #779293;
    text-decoration: none;
    margin-top:13px;
  }
  
  /* 縦線 */
  .pc-nav li::before {
    content: "";              
    width: 1px;
    height: 50px;
    background-color: #779293;
  }

picture {
    margin: 0 auto;
    display: block;
    position: relative; 
}

picture img{
    width: 100%;
    display: block;
}

.word {
  position: absolute;  
  top: 50%;            
  left: 70%;           
  transform: translate(-50%, -50%); /* 真ん中に寄せる */
  z-index: 2;          
  color: white;       
  font-size: 48px;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5); /* 背景に馴染むよう影をつける */
}

.concept,
.about,
.skills,
.works,
.contact,
.contact2,
.footer
 {
    max-width: 1440px;
    margin: 0 auto;
}


.concept {
    margin-top: 209px;
    margin-bottom: 240px;
}


.concept_word_img img{
    max-width: 470px;
}

.concept_word_img{
  margin-bottom: 29px;
  margin-left: 220px;
}

.concept_word{
  line-height: 2;
  max-width: 774px;
  margin: 0 auto;
}


.concept_word,
.about_sentence {
    font-size: 16px;
    text-align: left;
}


.about {
    margin-bottom: 164px;
}

.about_img{ 
    display: flex;
}


.about_word_img img{
    width:  112px;
    max-width: 7.7vw;
    margin-left: 220px;
    position: relative;
}


.about_img {
    display: flex;
}

.about_img1 img {
    width: 280px;
    max-width: 19.5vw;
    margin-top: -29px;
    margin-left: 125px;
}

.about_img2 {
    margin-left: 36px;
}

.about_img2 img {
    width: 560px;
    max-width: 38.88vw;
    margin-top: -330px;
}

.about_img3_wrapper {
    display: flex;
    flex-direction: column;
    margin-left: -80px;
    margin-top: -229px; 
}

.about_img3 img {
    width: 423px;
    max-width: 29.3vw;

    
}

.about_img4 img{
  max-width: 150px;
}

.about_img4{
    margin-top: -30px;
    margin-left: 50px;
}

.about_sentence {
    margin-left: auto;
    margin-right: 220px;
    margin-top: 50px;
    max-width: 630px;
    line-height: 2.25;
    
}


.view_more_about {
    display: flex;
    justify-content: flex-end;
    margin-right: 220px;
    margin-top: 57px;
}

.view_more_about img{
    max-width: 142px;
}


.skills{
    margin-bottom: 230px;
}


.skills_word_img img{
    width: 304px;
    max-width: 21.1vw;
    margin-left: 220px;
    margin-bottom: 108px;
}


.view_more_skills img{
    width: 142px;

}

.skills_photo_wrap{
    max-width: 100%;
    display: flex;
    justify-content: center; 
    gap: 4.16%;               
      }



.skills_photo img{
    width: 206px;
    max-width: 14.3vw;

}

.skills-swiper{
  display: none;
}


.view_more_skills {
    display: flex;
    justify-content: flex-end;
    margin-top: 57px;
    margin-right: 220px;
}


.works{
    margin-bottom: 160px;
}

.works_word_img img{
    width:360px;
    max-width: 25vw;
    margin-left: 210px;
    margin-bottom: 107px;
}


/* .carousel_item img{
    height: 280px;
} */

.carousel_inner{
    display:flex;
    position: relative;
}

/* 
.prev-arrow{
    position: absolute;
    top: 50%;
    transform:translateY(-50%) ;
    width: 19px;
    left: 20%;
    z-index: 999;
}

.next-arrow{
    position: absolute;
    top: 50%;
    transform:translateY(-50%) ;
    width: 19px;
    right: 20%;
    z-index: 999;
} */

.view_more_works {
    display: flex;
    justify-content: flex-end;
    margin-right: 220px;
    margin-top: 57px;
}

.view_more_works img{
    width: 142px;    
}


.contact{
    margin-bottom: 274px;
}

.contact_photo_img img{
    width: 670px;
    max-width: 46.5vw;
    display: block;
    margin: 0 auto;
}

.thankyou{
    margin-bottom: 255px;
}
.thankyou_wave{
    align-items: center;
}

.footer-sp {
  display: none;
}

footer {
    border-top: 1px solid #bce3e2;
    padding: 24px 0px ;
    color: #bce3e2;
    max-width: 1315px;
    margin: 0 auto;
  }
  
  .footer-inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  

  .footer-nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-nav li {
    color: #bce3e2;
    font-size: 18px;
    font-family: "trajan-pro-3", "serif";
    font-weight: 400;
    font-style: normal;;
    margin-bottom: 24px;
  }
  
  .footer-right {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    color: #9ec6c8;

  }
  
  .footer-right img {
    width: 24px;
    height: 24px;
  }


.footer_bottom_line{
  border-bottom: 1px solid #bce3e2;

}

  .footer-left{
    margin-top: 9px;
    font-family: "trajan-pro-3", "serif";
    font-weight: 400;
    font-style: normal;
    
  }
  

  /* ＝＝２階層目以降＝＝＝＝＝＝＝＝ */

.subpage {
    background: linear-gradient(to right, #f0faff 1000px, #e6f8ff 0 );
  }

  .subpage .header{
    padding-bottom: 330px;
  } 


  
  .logo_blue {
    margin-top: 40px;
    margin-left: 40px;
  } 
  
  .logo_blue img {
    width: 80px;
  }

    /* ＝＝ABOUT＝＝＝＝＝＝＝＝ */

.about2{
    margin-left: 220px;
    margin-right: 220px;
    max-width: 1440px;
    margin-bottom: 471px;
}

.about_intro{
    display: flex;
    justify-content: center;
}

.about2_word img{
    width: 112px;
    margin-top: 30px;
}

.about_intro{
    text-align: center;
}

.about_intro_photo img{
    width: 487px;
    margin: 0 auto;
}

.name{
    margin-top: 105px;
    text-align: center;
    color: #5ed2d5;
    font-size: 19px;
    margin-bottom: 33px;
    font-family: "trajan-pro-3", "serif";
    font-weight: 400;
    font-style: normal;;
}

.about_intro_sentence{
    margin-top: 33px;
    max-width: 640px;
    margin: 0 auto;
    text-align: left;
    line-height: 2.25;
    color:#779293;
}

    /* ＝＝about【strength】＝＝＝＝＝＝＝＝ */

.about2-2{
    margin-left: 220px;
    margin-right: 220px;
    max-width: 1440px;
    margin-bottom: 240px;
}


.about_strength_top{
    display: flex;
    justify-content: center;
    margin-bottom: 109px;
  }


.about_strength_word img{
    width: 60px;
}


.about_strength_photo img{
    width: 700px;
}


.about_strength_photo{
    margin: 0 auto;
}


.strength_right{
  display: flex;
  justify-content: flex-end;
}

.strength01,
.strength02{
    margin-bottom: 20px;
}


  .strength3 img{
    width: 268px;
}

  .strength01,
  .strength03{
  max-width: 680px;
  text-align: left;
  } 

  .strength02{
    max-width: 680px;
    text-align: left;
  }

  .strength2 img{
    width: 305px;
}

.strength1,
.strength2,
.strength3
 {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .strength-line {
    flex-grow: 1;
    height: 1px;
    background-color: #b7e4e3;
    margin-top: 40px;
  }
  
  .strength1 img {
    width: 172px;
  }
  
  .strength1,
  .strength3 
  {
    flex-direction: row;
  }

  .strength2{
    flex-direction: row-reverse;
  }

  .strength_right,
  .strength_left{
    line-height: 2.25;
    font-size: 16px;
  }

    /* ＝＝SKILLS＝＝＝＝＝＝＝＝ */

  .skills2{
    max-width: 1440px;
    margin-right: 220px;
    margin-left: 220px;
    margin-bottom: 141px;
    font-size: 16px;
  }


  .skills2_word_img img{
    width: 304px;
    margin-bottom: 144px;


  }

  .skills-swiper {
    display: none;
  }

  
  .graphic img{
    width: 433px;
  }
  
  .webdesing img{
    width: 392px;
  }

  .coding img{
    width: 485px;
  }

  .skills_sentence{
    max-width: 623px;
    margin: 0 auto;
    margin-top: -109px;
    line-height: 2.25;
    margin-bottom: 30px;
  }


  .skills_list{
    margin-bottom: 109px;
  }

  .yazirushi img{
    width: 23px;
  }

  .yazirushi{
    margin-bottom: 70px;
    text-align: center;
  }


  .skills1{
    margin-bottom: 15px;
    margin-top: 15px;
  }


  .botann img {
    width: 13px;
  }

  .botann{
    margin-right: 4px;
  }
  
  .skills_illustrator img{
    width: 70px;
}

  .skills_photoshop img{
    width: 77px;
}

.skills1 {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .skills1-line {
    flex-grow: 1;
    display: flex;
    justify-content: end;
    height: 1px;
    background-color: #b7e4e3;
  }
  
  .skills1{
    flex-direction: row;
  }

  .skills_figma img{
    width: 42px;
  }
  
  .skills_HTMLCSS img{
    width: 95px;
  }
  .skills_JavaScript img{
    width: 79px;
  }
  

  .skills_illustrator_word,
  .skills_photoshop_word,
  .skills_figma_word,
  .skills_HTMLCSS_word,
  .skills_JavaScript_word{
    max-width: 570px;
    text-align: left;
    margin: 0 auto;
    line-height: 2.25;
  }


  /* ＝＝CONTACT＝＝＝＝＝＝＝＝ */


  .contact_warp{
    display: flex;
    flex-direction: column;     /* 縦並びにする */
    justify-content: center;    /* 縦方向の中央揃え */
    align-items: center;        /* 横方向の中央揃え */
    margin-bottom: 234px;
        
  }
  
  .contact_word_img img{
    width: 493px;
  }
  .contact_word_img{
    margin-left: 220px;
    margin-bottom: 94px;
  }
  
  .contact_sentece{
    font-size: 16px;
    margin-bottom: 106px;
    text-align: center;
  }
  .contact_warp input,textarea{
    border: none;
    box-sizing: border-box;
    padding: 9px 16px;
    font-size: 16px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
  }
  .contact_warp input::placeholder,.contact_warp textarea::placeholder{
    color:#b3b3b3
  }


  .contact_warp input{
    width: 400px;
    height: 34px;
  }

  .contact_warp textarea{
    width: 400px;
    height:  155px;
  }


 

.label{
  float:left ;
  width: 96px;
  margin-right: 20px;
  color: #779293;
  font-size: 12px;
  text-align: center;
}

select {
  width: 400px;
  height: 34px;
  border: none;
  background-color: #fff;
  font-size: 12px;
  padding: 9px 16px;
  color:#b3b3b3
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}


.br-sp {
  display: none;
}

.form_item{
  display: flex;
  align-items: center;
  margin-bottom: 56px;
 
}

.form_item2{
  display: flex;
  align-items: center; 
}


.form_send img{
  width: 94px;
}
.form_send{
  margin: 0 auto;
  max-width: 94px;
  margin-top: 48px;
}

  /* ＝＝THANKS＝＝＝＝＝＝＝＝ */

.thanks_word img{
  width: 493px;

}

.thanks_word_sp{
  display: none;
}

.thanks_word{
  margin-left: 220px;
  margin-bottom:95px ;
}

.thanks_wrap{
  color: #779293;
}

.thanks{
  margin-bottom: 250px;
}


.thanks_sentece1{
  font-size: 41px;
  width: 677px;
  align-items: center;
  margin: 0 auto;
  color: #779293;
  margin-bottom: 92px;
}

.thanks_sentece2{
  font-size: 16px;
  width: 600px;
  align-items: left;
  margin: 0 auto;
  color: #779293;
  line-height: 1.75;
}

  /* ＝＝WORKS page＝＝＝＝＝＝＝＝ */


.works2{
  margin-left: 220px;
  margin-right: 220px;
  max-width: 1440px;
}
.works_top{
  display: flex;
  margin-bottom:122px ;
  gap:119px;
}

.works_top_inner{
  display: flex;
}

.works_word2 img{
  width:360px
}

.webdesign_word1 img{
  width:120px
}

.graphicdesign_word1 img{
  width:152px
}

.graphicdesign_word1{
  margin-left: 127px;
}

.webdesign_word2 img{
  width:177px
}


.webdesign_wrap{
  margin-bottom: 205px;
}

.work-item_photo{
  margin-bottom: 10px;
}

.work-title{
  margin-bottom: 5px;
}

.work-item{
  margin-bottom: 70px;
}


.image-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.image-list li {
  flex: 1 1 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  box-sizing: border-box;
}

.work-item {
  display: flex;
  flex-direction: column;

}

.work-item img {
  width: 100%;
  display: block;
}



.work-title {
  font-size: 16px;
}

.work-kinds {
  font-size: 14px;
}


.graphicdesign_word2 img{
  width:208px
}

.graphicdesign_wrap{
  margin-bottom: 180px;
}

  /* ＝＝WORKS page＝＝＝＝＝＝＝＝ */

.works2-1{
  max-width: 1440px;
}


.works_title{
  text-align: center;
  margin-bottom: 36px;
  font-size: 24px;
}



.works_contents_wrap_sh{
  display: none;
}


.works_contents_text_trace{
  text-align: center;
  font-size: 14px;
}

.works_contents_wrap_trace{
  margin-bottom:96px ;
}

.works_220{
  text-align: center;
  margin-bottom: 36px;
  font-size: 24px;
}

.works_title_tablet_wrap{
  display: flex;
  justify-content: space-between;
}



.works_flyer_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px; 
  max-width: 1000px; 
  margin: 0 auto 111px;
  padding: 0 30px;
}

.flyer img {
  max-width: 100%;
  height: auto;
  display: block;
}

.works_flyer1_wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 112px;
}

.logo_photo img{
  max-width: 830px;
}

.yazirushi1_left img{
  width: 30px;
}

.yazirushi1_left{
  margin-left: 120px;
}

.yazirushi1_right img{
  width: 30px;
}

.yazirushi1_right{
  margin-right: 120px;
}

.flyer img{
  width: 450px;
}


.switch img{
  width: 125px;
}

.switch{
  margin-right: 220px;
  margin-top: 10px;

}

.works_title_tablet{
  text-align: center;
  margin-bottom: 29px;
  font-size: 24px;
}

.works_tablet_wrap{
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
  position: relative;
}

.meishi_wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 133px;
  gap:50px
}

/* ＝＝＝＝スクロール＝＝＝ */
.scroll_down img{
  max-width: 22px;
}

.scroll_down{
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  right:-30px
}
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */


/* ＝＝＝＝スマホのモックアップ＝＝＝ */
.sh_mock-up img{
  width: 336px;
 }

.sh_mock-up{ 
  margin-bottom: 112px;
  text-align: center;
}
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* ＝＝＝＝タブレットのモックアップ＝＝＝ */
.tablet_mock-up img{
  max-width: 1000px;
}
.tablet_mock-up{
  margin-bottom: 112px;
  text-align: center;
}
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* ＝＝＝＝ハヤシのモックアップ＝＝＝ */
.hayashi_all img{
  max-width: 1440px;
}

.hayashi_all{
  margin-bottom: 144px;
}
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */



.yazirushi_left img{
  width: 30px;
}

.yazirushi_left{
  margin-right: 99px;
}

.yazirushi_right img{
  width: 30px;
}

.yazirushi_right{
  margin-left: 99px;
}

.meishi_omote img{
  width:520px;
}
.meishi_omote{
  margin-top: -314px;
}

.meishi_ura img{
  width:520px;
}

.meishi_ura{
  margin-top: 324px;
}

.meishi_yoko img{
  width: 330px;
}

.flyer_1 img{
  max-width: 450px;
}



/* 制作物したの説明書 */




.works_contents{
  list-style: none; 
}
.works_contents_sh{
  display: flex;
  margin-bottom: 19px;

}



.works_contents_wrap{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.works_contents{
  list-style: none;
  max-width: 1000px;
  width: 100%;

}

.works_contents_item{
  display: flex;
  align-items: center;
  margin: 30px 0;
}




.works_contents_item_category{
  width: 90px;
  text-align: center;

}

.works_contents_info{
  padding-left: 70px;
  width: 700px;
  font-size: 14px;
  line-height: 1.5;
}


.line{
  height: 1px;
  background-color: #c5efef;
  width: 89%;
}



.works_contents_text{
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
}


.backtoall img{
  max-width: 155px;
}



.backtoall{
  display: flex;
  justify-content: flex-end;
  margin-right: 220px;
  margin-bottom: 250px;
}






@media screen and (max-width : 1100px){
  /* PCメニューを消してハンバーガーメニューを出す */
  .pc-nav{
      display: none;
  }

  .hamburger{
    width: 50px;
    height: 50px;
    border: 1px solid #9ec6c8;
    border-radius: 50%; /* 円にする */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }

  .hamburger span{
      display: block;
      width: 15px;
      height: 1px;
      background: #9ec6c8;
      position: absolute;

  }
  

  .hamburger span:nth-child(1) {
    width: 10px;  
    top:20px;
    margin-right: 5px;
  }
  
  .hamburger span:nth-child(2) {
    width: 15px;
  }
  
  .hamburger span:nth-child(3) {
    width: 10px;
    top:30px;
    margin-right: 5px;
  }

  .circle-hamburger.active span:nth-child(1) {
    width: 50px; /* ←ここでアクティブ時の幅を再指定できる */
    transform: rotate(45deg);
    top: 36px;
  }
  
  .circle-hamburger.active span:nth-child(3) {
    width: 50px;
    transform: rotate(-45deg);
    top: 36px;
  }
  
.sp-nav{
  position:absolute;
  top:0;
  left:0;
  height:100vh;
  width:100%;
  background: rgba(0,0,0,0.7);
}
.sp-nav ul{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sp-nav ul li a {
  color: #fff;
  text-align: center;
  display: block;
  padding:10px 0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
      "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
      font-size:18px;
}

.sp-nav.active {
  display: block;
}
}


@media screen and ( max-width : 767px ){

  .header{
      margin-bottom: 43px;
  }



  .logo img{
      width:50px;
  }

  .logo_blue {
    margin-top: 20px;
    margin-left: 20px;
  } 
  
  .logo_blue img {
    width: 50px;
  }

  .subpage .header{
    padding-bottom: 95px;
  } 

  .concept,
  .about,
  .skills,
  .works
  .contact
  .contact2
  .footer
   {
      margin: 0 auto;
  }
  
  
  .concept {
      margin-top: 82px;
      margin-bottom: 58px;
  }
  
  
  .concept_word_img img{
      max-width: 188px;
  }
  
  .concept_word_img{
    margin-bottom: 39px;
    margin-left: 30px;
}

  .concept_word{
    line-height: 2.9;
    max-width: 100%;
    margin-left:30px;
    margin-right:30px;
    
  }
  
  
  .concept_word,
  .about_sentence {
      font-size: 16px;
      color: #779293;
      text-align: left;
  }
  
  
 
  
  .about {
      margin-bottom: 164px;
  }
  
  .about_img{ 
      display: flex;
  }
  
  
  .about_word_img img{
      width:  112px;
      max-width: 7.7vw;
      margin-left: 30px;
      position: relative;
  }
  
  
  .about_img {
      display: flex;
  }
  
  .about_img1 img {
      width: 162px;
      max-width: 19.5vw;
      margin-top: -63px;
      margin-left: 0;
  }
  
  .about_img2 {
      margin-left: 0px;
  }
  
  .about_img2 img {
      width: 560px;
      max-width: 38.88vw;
      margin-top: -143px;
  }
  
  .about_img3_wrapper {
      display: flex;
      flex-direction: column;
      margin-left: -80px;
      margin-top: 0;
  }
  
  .about_img3 img {
      display: none;
  
      
  }
  
  .about_img4 img{
    max-width: 150px;
  }
  
  .about_img4{
      margin-top: 0;
      margin-left: 50px;
  }
  
  .about_sentence {
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 41px;
      max-width: 630px;
      line-height: 2.25;
      
  }
  
  
  .view_more_about {
      display: flex;
      justify-content: flex-end;
      margin-right: 30px;
      margin-top: 11px;
  }
  
  .view_more_about img{
      max-width: 142px;
  }
  

  /* TOPページ部分スキル */
  .skills{
    margin-bottom: 119px;
}



.skills_word_img img{
  width: 304px;
  max-width: 21.1vw;
  margin-left: 30px;
  margin-bottom: 49px;
}

.skills_photo_wrap {
  display: none; 
}

/* TOPページ部分スキルスワイパー */

.skills-swiper {
  display: block;
  width: 100%;
  max-width:260px;
  margin: 0 auto;
}

.skills-swiper img {
  max-width:260px;
}

.swiper-slide{
  width: 100%;
}


.swiper-button-prev,
.swiper-button-next {
  top: 70% ;
  transform: translateY(-50%) ;
  z-index: 10 ;
}

.swiper-button-prev {
  left: 10px ;
}

.swiper-button-next {
  right: 10px ;
}
.view_more_skills img{
  width: 142px;

}
.view_more_skills {
  display: flex;
  justify-content: flex-end;
  margin-top: 22px;
  margin-right: 30px;
}


.works{
  margin-bottom: 88px;
}

.works_word_img img{
  width:360px;
  max-width: 25vw;
  margin-left: 210px;
  margin-bottom: 107px;
}



.carousel_inner{
  display:flex;
  position: relative;
}


.view_more_works {
  display: flex;
  justify-content: flex-end;
  margin-right: 220px;
  margin-top: 57px;
}

.view_more_works img{
  width: 142px;    
}


.contact{
  margin-bottom: 109px;
}

.contact_photo_img img{
  width: 670px;
  max-width: 46.5vw;
  display: block;
  margin: 0 auto;
}

.thankyou{
  margin-bottom: 113px;
}
.thankyou_wave{
  align-items: center;
}

  .footer-pc {
    display: none;
    justify-content: center;
  }

  .footer-sp {
    display: block;
    border-top: 1px solid #bce3e2;
    padding: 24px 0px ;
    color: #bce3e2;
    max-width: 330px;
    margin: 0 auto;
  }
  
 
  

  .footer_nav-sp ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer_nav-sp li {
    color: #bce3e2;
    font-size: 18px;
    font-family: "trajan-pro-3", "serif";
    margin-bottom: 57px;
  }
  
  .footer-right_nav-sp{
    display: flex;
    font-size: 15px;
    color: #9ec6c8;

  }
  
  .footer-right_nav-sp img {
    width: 24px;
    height: 24px;
  }


.footer_bottom_line_nav-sp{
  border-bottom: 1px solid #bce3e2;
  max-width: 330px;

}

.footer-left_nav-sp{
    margin-top: 18px;
    font-family: "trajan-pro-3", "serif";  
  }


/* ====about-sp===== */


.about2{
    margin-left: 30px;
    margin-right: 30px;
    max-width: 100%;
    margin-bottom: 124px;
}

.about_intro{
    display: flex;
    justify-content: center;
}

.about2_word img{
    width: 27px;
    margin-top: 0px;
}

.about_intro{
    text-align: center;
}

.about_intro_photo img{
    width: 268px;
    margin: 0 auto;
}

.name{
    margin-top: 24px;
    font-size: 19px;
    margin-bottom: 33px;
    font-family: "trajan-pro-3", "serif";
    font-weight: 400;
    font-style: normal;;
}

.about_intro_sentence{
    max-width: 330px;
    margin: 0 auto;
    line-height: 2.25;
}

    /* ＝＝about【strength】＝＝＝＝＝＝＝＝ */

.about2-2{
    margin-left: 30px;
    margin-right: 30px;
    max-width: 100%;
    margin-bottom: 166px;
}


.about_strength_top{
    display: flex;
    justify-content: center;
    margin-bottom: 87px;
  }


.about_strength_word img{
    width: 27px;
}

.about_strength_word{
  margin-top: 36px;
}


.about_strength_photo img{
    width: 294px;
}


.about_strength_photo{
    margin: 0 auto;
    margin-left: 16px;
}


.strength_right{
  display: flex;
  justify-content: flex-end;
}

.strength01,
.strength02{
    margin-bottom: 64px;
}


  .strength3 img{
    width: 268px;
}

  .strength01,
  .strength03{
  max-width: 680px;
  } 

  .strength02{
    max-width: 680px;
  }

  .strength2 img{
    width: 305px;
}
  
  .strength1 img {
    width: 172px;
  }

/* ====skills-sp===== */



.skills2{
  max-width: 100%;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 111px;
}


.skills2_word_img img{
  width: 112px;
  margin-bottom: 39px;


}

.graphic img{
  width: 290px;
}

.webdesing img{
  width: 260px;
}

.coding img{
  width: 330px;
}

.skills_sentence{
  max-width: 330px;
  margin-top: -70px;
}


.skills_list{
  margin-bottom: 109px;
}

.yazirushi img{
  width: 23px;
}

.yazirushi{
  margin-bottom: 70px;
  margin: 0 auto;
}


.skills1{
  margin-bottom: 15px;
  margin-top: 15px;
}


.botann img {
  width: 13px;
}

.botann{
  margin-right: 4px;
}

.skills_illustrator img{
  width: 70px;
}

.skills_photoshop img{
  width: 77px;
}

.skills1 {
  display: flex;
  align-items: center;
  width: 100%;
}

.skills1-line {
  flex-grow: 1;
  height: 1px;
  background-color: #b7e4e3;
}

.skills1{
  flex-direction: row;
}

.skills_figma img{
  width: 42px;
}

.skills_HTMLCSS img{
  width: 95px;
}
.skills_JavaScript img{
  width: 79px;
}


.skills_illustrator_word,
.skills_photoshop_word,
.skills_figma_word,
.skills_HTMLCSS_word,
.skills_JavaScript_word{
  max-width: 570px;
  text-align: left;
  margin: 0 auto;
  line-height: 2.25;
}


/* ====contact-sp===== */


.contact2{
  max-width: 100%;
}

.contact_warp{
  margin-bottom: 110px;
}

.contact_word_img img{
  width: 191px;
}
.contact_word_img{
  margin-left: auto;
  margin-bottom: 72px;
  text-align: center;
}

.contact_sentece{
  height: 1.44;
  margin-bottom: 64px;
}


.contact_warp input{
  width: 100%;
  height: 34px;
}

.contact_warp textarea{
  width: 100%;
  height:  175px;
}




.label{
float:left ;
margin-right: 0;
margin-bottom: 7px;
text-align: left;

}

select {
width: 100%;
}

/* スマホだけ改行 */
.br-sp {
  display: block;
}

.form_item{
display: block;
margin-bottom: 40px;
width: 100%;

}

.form_item2{
display: block;
}
.form_send img{
width: 94px;
}
.form_send{
max-width: 92px;
margin-top: 81px;
}


/* ====thanks-page===== */

.thanks_word{
  display: none;
}

.thanks_word_sp{
  display: block;
  margin-bottom: 66px;
}

.thanks_word_sp img{
  width: 374px;
}




.thanks{
  margin-bottom: 110px;
}


.thanks_sentece1{
  font-size: 29px;
  width: 300px;
  margin-bottom: 50px;
}

.thanks_sentece2{
  width: 330px;
}


/* ====works-page===== */

.works2-1{
  margin-left: 30px;
  margin-right: 30px;
}



/* ＝＝＝＝＝制作一覧ページ＝＝＝＝＝ */

.works2{
  margin-left: 30px;
  margin-right: 30px;
}

.works_top{
  display: block;
  margin-bottom:75px ;
  gap:119px;
}

.works_top_inner{
  display: flex;
}

.works_word2 img{
  width:141px
}
.works_word2{
  margin-bottom: 65px;
}

.webdesign_word1 img{
  width:118px
}

.graphicdesign_word1 img{
  width:149px
}
.graphicdesign_word1{
  margin-left: 60px;
}

.webdesign_word2 img{
  width:165px
}


.webdesign_wrap{
  margin-bottom: 270px;
}




.works_contents_wrap_sh{
  display: block;
  margin-bottom: 51px;
}

/* ＝＝＝スマホバナーモックアップ＝＝＝ */


.work-title{
  margin-bottom: 7px;
}

.work-item{
  margin-bottom: 106px;
}


.image-list {
  flex-direction: column; /* 縦並びにする */
  align-items: center;    
}

.image-list li {
  flex: 1 1 100%;
  max-width: 100%;
}



.work-item img {
  width: 100%;
  display: block;
}


.graphicdesign_word2 img{
  width:203px
}

.graphicdesign_wrap{
  margin-bottom: 160px;
}



  /* ＝＝WORKS page＝＝＝＝＝＝＝＝ */




  /* タイトル */
  .works_title{
    margin-bottom: 40px;
    font-size: 20px;
  }

 
  .works_220{
    margin-bottom: 36px;
    font-size: 24px;
  }
  
  .works_contents_wrap_trace{
    margin-bottom:50px ;
  }
  


  
  .works-line_sh{
    flex-grow: 1;
    max-width: 100%;
    height: 1px;
    display: flex;
    justify-content: flex-end;
    background-color: #b7e4e3;
    margin-top: 10px;
  }
  

  .works_contents_info_sh{
    margin-bottom: 43px;
    font-size: 14px;
    line-height: 1.5;
  }

  .works_contents_item_category_sh{
    font-size: 18px;
  }


  .works_flyer_wrap{
    margin-bottom: 98px;
  }
  


.flyer img {
  max-width: 330px;
  display: block;
}
  
  
  .logo_photo img{
    width: 100%;
  }
  
  .yazirushi1_left img{
    width: 30px;
  }
  
  .yazirushi1_left{
    margin-left: 120px;
  }
  
  .yazirushi1_right img{
    width: 30px;
  }
  
  .yazirushi1_right{
    margin-right: 120px;
  }
  
  .flyer img{
    width: 450px;
  }
  
  
  .switch img{
    width: 125px;
  }
  
  .switch{
    margin-right: 220px;
    margin-top: 10px;
  
  }
  
  .works_title_tablet{
    margin-bottom: 29px;
    font-size: 20px;
  }
  


  
  .meishi_wrap{
    display: block;
    margin-bottom: 95px;
    gap:0px
  }
  
  /* スマホモックアップ */
  .sh_mock-up img{
    width: 190px;
   }
  .sh_mock-up{ 
    margin-bottom: 65px;
    text-align: center;
  }
  
  /* タブレットモックアップ */
  .tablet_mock-up img{
    max-width: 100%;
  }
  .tablet_mock-up{
    margin-bottom: 97px;
  }
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* ＝＝＝＝ハヤシのモックアップ＝＝＝ */
.hayashi_all img{
  max-width: 100%;
}

.hayashi_all{
  margin-bottom: 86px;
}
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */


  

  .yazirushi_left img{
    width: 30px;
  }
  
  .yazirushi_left{
    margin-right: 99px;
  }
  
  .yazirushi_right img{
    width: 30px;
  }
  
  .yazirushi_right{
    margin-left: 99px;
  }
  
  .meishi_omote img{
    width:330px;
  }
  .meishi_omote{
    margin-top: 0px;
  }
  
  .meishi_ura img{
    width:330px;
  }
  
  .meishi_ura{
    margin-top:0px;
  }
  
  .meishi_yoko img{
    width: 330px;
  }
  
  .flyer_1 img{
    max-width: 100%;
  }
  
  .scroll_down img{
    width: 18px;
  }
  
  
  .works_contents_wrap{
   display: none;
  }
  
  
  
   

  /* 制作一覧に戻る */
  .backtoall{
    margin-right: 30px;
    margin-bottom: 50px;
  }
  

}